@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar {
  display: none;
}
body {
  line-height: 30px;
  background-color: #300a24;
}
p {
  color: #cddcd8;
  font-size: medium;
  font-family: "Ubuntu Mono", monospace;
}
input {
  font-size: medium;
}
input:focus {
  color: #cddcd8;
  font-family: "Ubuntu Mono", monospace;
}
i {
  font-style: normal;
  color: #7db830;
}
b {
  font-style: normal;
  color: #6888aa;
}
a {
  color: #6888aa;
  font-size: medium;
}
a:enabled {
  color: #6888aa;
  font-size: medium;
}
